<!-- Main Navigation Right -->
<nav class="main-nav">
	<ul class="main-nav__list">
		<li><a href="features-404.html">NOVIDADES</a></li>
		<li><a href="partners.html">PARCEIROS</a></li>
		<li><a href="features-contact-us.html">CONTATO</a></li>
	</ul>
</nav>
<!-- Main Navigation Right / End -->
