<!-- Main Navigation -->
<nav class="main-nav">
	<ul class="main-nav__list">
		<li><a href="index.html">Home</a></li>
		<li>
			<a href="#">NOSSO TIME</a>
			<ul class="main-nav__sub">
				<li>
					<a href="team-selection.html">LINE-UPS</a>
				</li>
				<li>
					<a href="streamers.html">STREAMERS</a>
				</li>
				<li>
					<a href="management-and-staff.html">STAFF</a>
				</li>
			</ul>
		</li>
		<li><a href="#">PARTIDAS</a>
			<ul class="main-nav__sub">
				<li><a href="features-404.html">Valorant</a></li>
				<li><a href="features-404.html">LEAGUE OF LEGENDS</a></li>
				<!--<li><a href="matches-lineups-1.html">Valorant</a></li>
				<li><a href="matches-lineups-2.html">LEAGUE OF LEGENDS</a></li>-->
			</ul>
		</li>
		<li><a href="blog.html">NOVIDADES</a></li>
		<li><a href="partners.html">PARCEIROS</a></li>
		<li><a href="features-contact-us.html">CONTATO</a></li>
	</ul>
</nav>
<!-- Main Navigation / End -->
