<!-- Content
================================================== -->
<main class="site-content" id="wrapper">
	<div class="site-content__inner">
		<div class="site-content__holder">
			<!-- Post -->
			<article class="post post--single">
				<figure class="post__thumbnail">
					<img src="assets/img/samples/news-post-img-01.jpg" alt="">
				</figure>
				<ul class="post__sharing">
					<li class="post__sharing-item"><a href="https://www.instagram.com/man3dw0lf/"></a></li>
					<li class="post__sharing-item"><a href="https://www.facebook.com/manedwolf"></a></li>
				</ul>
				<div class="post__header">
					<div class="post__cats h6">
						<span class="color-warning">MANED WOLF</span>
					</div>
					<h2 class="post__title h3">Quem somos?</h2>
					<div class="post__meta">
						<span class="meta-item meta-item--date">conheça um pouco sobre a gente!</span>
					</div>
				</div>
				<div class="post__body">
					<p>
						Maned Wolf é uma organização de gamers, para gamers, criada por Nathan Quadros da Silva em 2022,
						ele acredita no pôtencial de pessoas que tem qualquer sonho, "Uma pessoa com um sonho é uma
						pessoa com um objetivo e ela está motiva a tudo para viver aquilo, ela só precisa de um
						impulso... e no caso dos gamers, nós queremos ser este impulso!" - Nathan Quadros.
					</p>
					<p>
						Dito isso Maned Wolf pretende ser uma comunidade colaborativa visando o compartilhamento de
						conhecimento e proporcionando todo suporte para os parceiros, buscando atender as necessidades
						dos iniciantes aos experientes nas carreiras de stremer, jogadores profissionais e áreas
						relacionadas ao gerência de uma marca. Pensando nisso Temos o objetivo de fornecer aos parceiros
						desde de designer a psicólogos no que for necessário.
					</p>
					<!--<figure>
						<img src="assets/img/samples/news-post-img-02.jpg" alt="">
						<figcaption>This is "Stormy" the last character that was introduced to the game</figcaption>
					</figure>-->
					<div class="post__header">
						<h2 class="post__title h3">NOSSA MISSÃO</h2>
					</div>
					<p>
						Se tornar uma organização reconhecida pelo profissionalismo e comprometimento com toda a equipe
						e comunidade de eSports mundialmente.
					</p>
					<div class="post__header">
						<h2 class="post__title h3">NOSSA VISÃO</h2>
					</div>
					<p>
						Encorajar a todos que desejam viver de games oferecendo uma porta de entrada com todo o suporte necessário para se tornar um profissional da área.
					</p>
					<div class="post__header">
						<h2 class="post__title h3">NOSSOS VALORES</h2>
					</div>
					<ol>
						<li>Honestidade</li>
						<li>Comprometimento</li>
						<li>União da equipe</li>
						<li>Profissionalismo</li>
						<li>Colaboração</li>
					</ol>
					<div class="post__header">
						<h2 class="post__title h3">concluíndo</h2>
					</div>
					<p>
						Maned Wolf é mais que uma organização, queremos construir uma empresa <strong>honesta</strong> que se <strong>compromete</strong> com todos os projetos e relacionamentos criados aqui dentro, promovendo a <strong>União de toda a equipe</strong> por meio de trabalho <strong>profissional</strong> e <strong>colaboração</strong>.
					</p>
				</div>
			</article>
			<!-- Post / End -->
		</div>
	</div>
</main>