---
gmap_script: true
---

<!-- Content
================================================== -->
<main class="site-content contact-us-page" id="wrapper">
	<div class="site-content__inner">
		<div class="site-content__holder">
			<h1 class="page-title h3">Entre em contato!</h1>
			<div class="page-content">
				<h4 class="text-sm">Informações</h4>
				<p>
					Se você tiver alguma dúvida, basta nos enviar um e-mail e não se esqueça de seguir e curtir todas as nossas contas sociais para se manter atualizado!
				</p>
				<div class="info-box">
					<div class="info-box__label">Assuntos gerais</div>
					<div class="info-box__content"><a href="mailto:#">contato<span class="color-primary">@</span>manedwolf.com.br</a></div>
				</div>
				<ul class="social-menu social-menu--links">
					<li><a href="https://www.facebook.com/manedwolf"></a></li>
					<li><a href="https://www.instagram.com/man3dw0lf/"></a></li>
					<li><a href="https://discord.gg/PFuGeNPNM6"></a></li>
				</ul>
				<h4 class="text-sm">Junte-se à nossa equipe/h4>
				<p>
					Estamos sempre à procura de novos talentos para se juntarem às nossas equipes. Se você quiser se juntar a nós, basta nos enviar um e-mail e nós entraremos em contato com você!
				</p>
				<div class="info-box">
					<div class="info-box__label">Nathan Quadros - Recrutador</div>
					<div class="info-box__content"><a href="mailto:#">recrutamento<span class="color-primary">@</span>manedwolf.com.br</a></div>
				</div>
				<div class="info-box">
					<div class="info-box__label">Se torne parceiro!</div>
					<div class="info-box__content"><a href="mailto:#">parceiros<span class="color-primary">@</span>manedwolf.com.br</a></div>
				</div>
				<span class="spacer-lg">&nbsp;</span>
				<h4>Envie uma mensagem</h4>
				<form action="#" class="form">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="input-name" placeholder="Your Name">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="input-email" placeholder="Your Email">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<textarea name="input-message" cols="30" rows="5" class="form-control" id="input-message" placeholder="Your Message"></textarea>
							</div>
						</div>
					</div>
					<button class="btn btn-secondary">Enviar</button>
				</form>
			</div>
			<!-- Google Map -->
			<div class="gm-map gm-map--aside" data-map-style="necromancers" data-map-address="645 5th Ave, New York, US" data-map-icon="{{../root}}assets/img/map-marker.png" data-map-zoom="15">
				<div class="gm-map__info">
					ManedWolfs</br>
					<span class="color-primary">QG</span>
					<address>centro</br>Ponta grossa, Paraná</address>
				</div>
			</div>
			<!-- Google Map / End -->
		</div>
	</div>
</main>
