<!-- Search Panel -->
<div class="search-panel">
	<div class="search-panel__content">
		<form action="#" id="header-search-form" class="search-form search-form--header">
			<input type="text" class="form-control" value="" placeholder="What are you looking for...?">
		</form>
		<span>Escreva o que você está procurando, escolha os filtros e pressione enter para iniciar sua busca!</span>
	</div>
</div>
<!-- Search Panel / End -->