<!-- Widget: Contact Info -->
<section class="widget widget-contact-info">
	<h5 class="widget__title">Informações de contato</h5>
	<div class="widget__content">
		<p>
			Se voce tem alguma pergunta, envie seu e-mail e não se esqueça de seguir a gente na sua rede social favorita para continuar atualizado!!
		</p>
		<div class="info-box">
			<div class="info-box__label">Assuntos variados</div>
			<div class="info-box__content"><a href="mailto:contato@manedwolf.com.br">contato<span class="color-primary">@</span>manedwolf.com.br</a></div>
		</div>
		<ul class="social-menu social-menu--default">
			<li><a href="https://www.facebook.com/manedwolf"></a></li>
			<li><a href="https://www.instagram.com/man3dw0lf/"></a></li>
			<li><a href="https://discord.gg/PFuGeNPNM6"></a></li>
		</ul>
	</div>
</section>
<!-- Widget: Contact Info / End -->
