<!-- Widget: Facebook -->
<div class="widget widget-loop widget-instagram">
	<div class="widget-instagram__icon">
		<i class="fab fa-instagram">&nbsp;</i>
	</div>
	<div class="widget-instagram__body">
		<div class="widget-instagram__count h4">40</div>
		<div class="widget-instagram__label">Followers</div>
	</div>
</div>
<!-- Widget: Facebook / End -->