<div class="widget widget-carousel slick-slider">
	<article class="widget-carousel__item post slick-slide">
		<div class="post__thumbnail">
			<img src="assets/img/samples/widget-posts-carousel-img-02.jpg" alt="">
		</div>
		<div class="post__body">
			<ul class="post__cats list-unstyled">
				<li class="post__cats-item color-warning">
					<a href="#">eSports</a>
				</li>
			</ul>
			<h2 class="post__title"><a href="blog-post.html">Bem vindo a nossa casa, Maned!</a></h2>
			<ul class="post__meta list-unstyled">
				<li class="post__meta-item post__meta-item--date">
					<a href="#">25 Outubro, 2022</a>
				</li>
			</ul>
		</div>
	</article>
	<article class="widget-carousel__item post slick-slide">
		<div class="post__thumbnail">
			<img src="assets/img/samples/widget-posts-carousel-img-03.jpg" alt="">
		</div>
		<div class="post__body">
			<ul class="post__cats list-unstyled">
				<li class="post__cats-item color-warning">
					<a href="#">Conteúdo</a>
				</li>
			</ul>
			<h2 class="post__title"><a href="blog-post.html">Seja um criador de contúdo maned, entre em contato com a gente.</a></h2>
			<ul class="post__meta list-unstyled">
				<li class="post__meta-item post__meta-item--date">
					<a href="#">26 Outubro, 2022</a>
				</li>
			</ul>
		</div>
	</article>
</div>
